.header {
	position: relative;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	&__logo {
		display: block;
		float: left;
		position: relative;
		z-index: 10;

		img {
			width: 180px;
			height: 95px;

			@include between (sm, md) {
				width: 210px;
				height: 111px;
			}	

			@include above (md) {
				width: 419px;
				height: 222px; 
			}
		}
	}
}