.home {
	
	#wysiwygs-2 {
		color: $black;

		.wysiwygs__title {
			@include text-stroke(
				$stroke-width: 1px
			);
			color: $red;

			@include above (sm) {
				@include text-stroke();
			}
		}
	}
}
