.page {
	
	&__hero {
  		background: no-repeat center center;
  		background-size: cover;
  		background-image: url(../img/lines.svg); 
  		padding-top: 10rem;
		padding-bottom: 0rem;
		border-bottom: .4rem solid $sand;

		@include above (sm) {
			padding-top: 20rem;
			padding-bottom: 13rem;
		}

		&--front {
			padding-bottom: 0 !important;
		}
	}

	&__row {
		position: relative;
	}

	&__col {
		position: relative;
		z-index: 20;
	}

	&__title {
		line-height: 1;
		display: inline;
		position: relative;
		z-index: 20;
	}  

	&__text { 
		color: $red;
		font-family: 'LasVegas Fabulous Regular';
		display: inline-block;
		margin-top: 0;

		@extend .h1;
	}

	&__product {
		position: relative;

		@include above (sm) {
			position: absolute;		
			z-index: 10;
			right: 0;
			bottom: -20rem;
		}

		img {
			display: block;
			margin-left: auto;
		}

		&--front {
			
			@include above (sm) {
				bottom: -5rem;
			}
		}
	}

	&__bag {
		position: relative;
		top: 5rem;

		@include below (sm) {
			display: none;
		}
	}
}
