.variants {
	border-bottom: .4rem solid $sand;
	position: relative;

	&--wrapper {
		
	}

	&__container {

	}

	&__product-img {
		
	}

	&__item {
		
	}	

	&__title {
		margin-top: 0;
	}

	&__btn {
		margin-right: 1rem;
	}
}