/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "green" $green, "green-dark" $green-dark, "red" $red, "sand" $sand;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value; 
  }
}
