h1, .h1 {
  font-size: 74px;

  @include above (sm) {
    font-size: 94px;
  }

  @include above (md) {
    font-size: 114px;
  }

  @include above(lg) {
    font-size: 134px;
    
  }
}

h2, .h2 {
  font-size: 35px;

  @include above (sm) {
    font-size: 55px;
  }

  @include above(md) {
    font-size: 75px;
  }

  @include above(lg) {
    font-size: 95px;
  }
}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
    line-height: 1;
  }
}